.faq {
  width: 100vw;
  background-color: #fff;
  padding: 4rem 4rem 2rem;
}
.faq > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
}
.faq div * {
  margin: 10px;
}
.faq h2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}
@media screen and (max-width: 820px) {
  .faq h2 {
    font-size: 40px;
  }
  .faq {
    padding: 2rem 0.55rem;
  }
}
@media screen and (min-width: 1380px) {
  .faq {
    padding: 2rem 10rem;
  }
}
