.contact {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/Rectangle 81.png");
  background-color: rgba(27, 36, 50, 0.8);
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  text-align: center;
}
.contact p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}
.contact h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -0.4px;
  color: #ffffff;
  margin-bottom: 3rem;
}
textarea,
input {
  background: transparent;
  border: 2px solid #ebeaed;
  padding: 0.5rem;
  color: rgba(255, 255, 255, 0.8);
  outline: none;
}
textarea {
  resize: none;
  width: 500px;
  min-height: 100px;
}

.contact-two {
  width: 500px;
  display: flex;
}
input {
  flex: 1;
}

.contact button {
  padding: 0.5rem 2rem;
  margin-left: 1rem;
  text-align: center;
  background-color: #e2323c;
  color: rgba(255, 255, 255, 0.8);
  border: none;
  cursor: pointer;
}
.contact * {
  margin-bottom: 1rem;
}
@media screen and (max-width: 820px) {
  .contact {
    width: 100vw;
    height: 70vh;
  }
  textarea {
    width: 70vw;
  }

  .contact-two {
    width: 70vw;
    display: flex;
  }
  .contact p {
    font-size: 14px;
    line-height: 26px;
  }
  .contact h2 {
    font-size: 35px;
    line-height: 45px;
  }
}

@media screen and (max-width: 720px) {
  .contact-two {
    flex-direction: column;
  }
  .contact button {
    margin-left: 0rem;
  }
}
